#screen {
	
	height: 70%;
	width: 100%
	background: white;
	border: 2px solid black;
}

#write-here{
	 height: 100%;
    width: 200%;
    margin: 0px;
    padding: 0px;
}


#table th{
	
	font-size: 20px;
	
}

#table{
	height: 30%;
	width: 100%;
}